altair
black
contextily
dtale
folium
geopandas
geoplot
geoviews
holoviews
ipyleaflet
ipympl
isort
jupyter-dash
jupyter_contrib_nbextensions
jupyterlab_code_formatter
matplotlib
nbconvert[webpdf]
openpyxl
pandas
plotly
rasterio==1.3b1
seaborn
